*.xcscheme
*.xcuserstate
*.xc*
*.plist

# Generator is a special case as it generates .cpp code that
# needs to be ignored
generator/impl
generator/impl.cpp
generator/gen/*
generator/bin/*

# Any swap files created by vim
*.swp

# Ignore any files from NFS
.nfs*

# Ignore object files everywhere
**/*.o

# Compiled Object file
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.a
.vagrant
.DS_Store
